.profile-img{
    display: flex;  
    flex-direction: column  ;
    gap: 5px;
   
    
    

}
.pc2{
    display: flex;
    gap: 30px ;
    padding: 30px;

}
.profileimg-name{
    position: relative;
    font-size: 30px;
}
.profile-img img{
    height: auto;
    width: 300px;
    border-radius: 10px;
}
.profile-section-1{
    display: flex; 
    justify-content: space-evenly;  
    /* padding: 20px; */
}
.profile-content-1{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.head4 {
    display: flex;
    
    margin-bottom: 3rem;
    justify-content:center;
    width: auto;
    font-weight: bolder;
    color: red;
    font-size: 8rem;
    height: 10rem;
  }
.pc1{
    padding:  0px 60px;
    font-size: 20px;
    position: relative;
    padding: 20px;
    border-radius: 10px; 
    background: rgb(212, 225, 252);
    /* left:-50px; */
    
}
.pc3{
    padding:   60px;
    font-size: 17px;
    position: relative; 
    width: 50%;
    border-radius: 10px; 
    background: rgb(212, 225, 252);
    /* left:-50px; */
    
}
.back-button a  {
    position: relative;
   top:-11px    ;
    color: red;
}
.pc1 ul{
   
    line-height: 45px   ;
    
}
.pc1-head{
    font-size: 40px;
    color: brown;
}
.profile-main{
    padding: 60px;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    margin: 0 8rem;
}

@media (max-width:600px){
    .profile-main{
        padding: 1rem;
        box-shadow: 3px 3px 10px black;
        border-radius: 10px;
        margin: 0 1rem;
    }
    .profile-section-1{
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
        row-gap: 2rem;
    }
    .profile-img img{
        height: auto;
        width: auto;
        border-radius: 10px;
    }
    .profileimg-name{
        position: relative;
        font-size: 15px;
    }
    .pc1{
        padding: 0 0px;
        font-size: 15px;
        position: relative;
        left:0px;
        text-align: justify;
        
    }
    .pc1 ul{
   
        line-height: 25px   ;
        
    }
    .pc1-head{
        text-align: justify;
        font-size: 20px;
        color: brown;
    }
    .back-button a  {
        font-size: 40px;
        position: relative ;
     top: -7px;
        z-index: 8;
        color: red;
    }
    .head4 {
        display: flex;
        justify-content: center;
        margin: 0;
        justify-content:center;
        width: auto;
        font-weight: bolder;
        color: red;
        font-size: 3rem;
        height: 6rem;
      }
}