.profile-img{
    display: flex;  
    flex-direction: column  ;
    gap: 5px;
   
    
    

}
.profileimg-name{
    position: relative;
    font-size: 30px;
}
.profile-img img{
    height: 450px;
    width: auto;
    border-radius: 10px;
}
.profile-section-1{
    display: flex; 
    justify-content: space-evenly;  
}
.pc1{
    padding: 0 60px;
    font-size: 20px;
    position: relative;
    left:-50px;
    
}
.back-button a  {
    position: relative;
    left: -280%;
    top: -5%;
    color: red;
}
.pc1 ul{
   
    line-height: 45px   ;
    
}
.pc1-head{
    font-size: 40px;
    color: brown;
}
.profile-main{
    padding: 60px;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    margin: 0 8rem;
}

@media (max-width:500px){
    .profile-main{
        padding: 1rem;
        box-shadow: 3px 3px 10px black;
        border-radius: 10px;
        margin: 0 1rem;
    }
    .profile-section-1{
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
        row-gap: 2rem;
    }
    .profile-img img{
        height: auto;
        width: auto;
        border-radius: 10px;
    }
    .profileimg-name{
        position: relative;
        font-size: 15px;
    }
    .pc1{
        padding: 0 0px;
        font-size: 15px;
        position: relative;
        left:0px;
        text-align: justify;
        
    }
    .pc1 ul{
   
        line-height: 25px   ;
        
    }
    .pc1-head{
        text-align: justify;
        font-size: 20px;
        color: brown;
    }
    .back-button a  {
        font-size: 40px;
        position: absolute ;
        left: 10%;
        top: 20%;
        z-index: 8;
        color: red;
    }
}