.acadhead{
  display: flex;
  justify-content: center;
  font-size: 7rem;
  padding: rem;
  color: #C44536;
  

}
.acad-image img{
  width: 100%;
  height: 30rem;
}
.acad-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acad-content{
  margin: 2rem;
  display: flex;
  flex-direction: column;
 
  width: 80rem;
  
}
.acad-head1{
  color: #C44536;
  font-size: 25px
}