.table-main{
    background-color: white;
   
}
.sec-3{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}
.eve-pos{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    /* color: white; */
}
.events{
    display: flex;
    flex-direction: column;
    
    gap: 5rem;
    width: 400px;
    border-radius: 10px;
    box-shadow:  0px 10px 20px black;
}
.open-pos{
    display: flex;
    flex-direction: column;


    gap: 5rem;
    width: 400px;
}
.ranking-main{
    height: 400px;
   width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}
    
.ranking{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    
    padding: 5rem 10rem;
    /* color: white; */

   

}
.ranking3{
display: flex;
width: 100%;
}
.section4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
.events1{
    height: fit-content;
    width: 300px;
    border: 1px solid black;
    margin-top: 6rem;
}
.event-button{
    display: flex;
    justify-content:center;
    align-items:flex-end ;
}
@media(max-width:500px){

    .ranking-main{
        display: none;
        height: 400px;
       width: 100%;
        background: white;
        border-radius: 10px;
        box-shadow: 5px 5px 20px black;
    }
        
    .ranking{
        display: none;
        display: flex;
        flex-direction: column;
        text-align: justify;
        width: 100%;
        
        /* padding: 5rem 10rem; */
        /* color: white; */
    
       
    
    }
    .ranking3{
        display: none;
    /* display: flex; */
    width: 100%;
    }
    .eve-pos{
        display: flex;
        flex-wrap: wrap ;
        gap: 3rem;
        justify-content: space-evenly;
        /* color: white; */
        padding: 20px   ;
    }
    .events{
        display: flex;
        flex-direction: column;

        gap: 1rem;
        width: 400px;
        border-radius: 10px;
        box-shadow:  0px 10px 20px black;
    }
   
}
