.table-main{
    background-color: white;
   
}
.sec-3{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}
.eve-pos{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    /* color: white; */
}
.events{
    display: flex;
    flex-direction: column;
    
    gap: 5rem;
    width: 400px;
    border-radius: 10px;
    box-shadow:  0px 0px 40px black;
}
.open-pos{
    display: flex;
    flex-direction: column;


    gap: 5rem;
    width: 400px;
}
.ranking-main{
    padding: 40px;
   width: 100%;
   height: 100%;

   color: black;
    line-height: 40px;
   font-size: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(79, 77, 77);
}
.ranking-news-main{
    height: 400px;
   width: 400px;
   padding: 20px;
    
    
    box-shadow: 0px 0px 20px rgb(79, 77, 77);
    
    border-radius: 5px ;
}
.ranking-news-main ul{
 list-style: none ;
 color: black;
 display: flex;
 flex-direction: column;
 

}
    
.ranking{
    height: 400px;
    width:  400px;
   
    border-radius: 10px;
    margin-top: 3rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

   

}
.gallery-grid img{
    
 height: 5rem;
  width: 100%;
  
}
.grid-item1{
    opacity: .8;
}
.grid-item2{
    opacity: .4;
}
.grid-item3{
    opacity: .1;
}
.gallery-grid {
    max-height: 12rem;
  
    display: grid;
    grid-template-columns:   8rem 8rem  ;
    grid-template-rows:   6rem 6rem;
    

    

    
}
.ranking3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
}
.section4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
.events1{
    height: 400px;
    width:  400px;
   
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(89, 88, 88);
    margin-top: 3rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}   
.events12{
    height: fit-content;
    width:  245px;
    
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(83, 83, 83);
    margin-top: 6rem;
    padding: 20px;
    justify-content: center;
}   
.event-button a{
    display: flex;
    justify-content:space-evenly;
   

    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: rgb(77, 183, 240);
    width: 100px;
}
.event-button {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  
    text-decoration: none;
    color: white;
   
    
}
@media(max-width:600px){

    .ranking-main{
        /* height: 400px;
    width:  400px;
   
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(89, 88, 88);
    margin-top: 3rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    }
        
    .ranking{
       
        /* display: flex;
        flex-direction: column;
       
        text-align: justify;
        width: fit-content;
        
        
        padding: 0rem; */
        /* color: white; */
    
       
    
    }
    .ranking3{
        /* display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        padding: 0px; */
    }
    .eve-pos{
        display: flex;
        flex-wrap: wrap ;
        gap: 3rem;
        justify-content: space-evenly;
        /* color: white; */
        padding: 20px   ;
    }
    .events{
        display: flex;
        flex-direction: column;

        gap: 1rem;
        width: 400px;
        border-radius: 10px;
        box-shadow:  0px 10px 20px black;
    }
   
}
