.img-hgt{

    height: 550px;
    border-radius: 10px;
    

}
.carousel-main{
    margin: auto;
    max-width: 1300px;
    height: 550px;
    box-shadow: 5px 10px 20px 0 #000;
    border-radius: 10px;
    
    
}